* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
/* HOME FORMAT */
body {
   background-color: #202020;
}
section {
   height: 100vh;
   background-color: #202020;
}
.mainp {
   display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 20vmin;
   font-size: 5vmin;
   color: #ffffff;
   font-family: 'Nanum Myeongjo', serif;
   font-family: 'Playfair Display', serif;

}
nav {
   display: flex;
   justify-content: space-between;
   background-color: #202020;
   padding-block: 5vmin;
}
.logo {
   font-size: 4vmin;
   color: #ffffff;
   display: flex;
   padding-inline: 15vmin;
   font-family: 'Nanum Myeongjo', serif;
   font-family: 'Playfair Display', serif;
}
ul {
   display: flex;
   list-style-type: none;
   justify-content: space-between;
   font-size: 2vmin;
   padding-top: 2vmin;
   padding-right: 5vmin;
}
li {
   width: 20vmin;
   text-decoration: none;
   color: #ffffff;
   font-family: 'Nanum Myeongjo', serif;
   font-family: 'Playfair Display', serif;
}
.paragraph1 {
   font-size: 2vmin;
   color: #8f8d8d;
   font-family: 'Nanum Myeongjo', serif;
   font-family: 'Playfair Display', serif;
   text-align: center;
}
a {
   position: relative;
    text-decoration: none;
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Playfair Display', serif;
    color: #8f8d8d;
    font-size: 2vmin;
    letter-spacing: 0.5px;
    padding: 0 10px;
}
a:after{
   content: "";
   position: absolute;
   background-color: #f4f4f4;
   height: 3px;
   width: 0;
   left: 0;
   bottom: -10px;
   transition: 0.3s;
}
a:hover{
   color: #8f8d8d;
}
a:hover:after{
   width: 100%;
}
.footer-content {
   color: #ffffff;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: -20vmin;
}


/* ABOUT */


.main-titles {
   display: flex;
   text-align: center;
   justify-content: center;
   margin: 5vmin;
   font-size: 5vmin;
   color: #ffffff;
   font-family: 'Nanum Myeongjo', serif;
   font-family: 'Playfair Display', serif;
}
.paragraph2 {
   font-size: 2vmin;
   text-align: center;
   color: #8f8d8d;
   font-family: 'Nanum Myeongjo', serif;
   font-family: 'Playfair Display', serif;
}
.tab-title {
   display: flex;
   text-align: center;
   justify-content: center;
   margin: 2vmin;
}
.tab-links {
   font-size: 2vmin;
   margin: 10px;
   color: #ffffff;
   cursor: pointer;
   font-family: 'Nanum Myeongjo', serif;
   font-family: 'Playfair Display', serif;
}
.show-card {
   font-size: 2vmin;
   text-align: center;
   color: #8f8d8d;
   font-family: 'Nanum Myeongjo', serif;
   font-family: 'Playfair Display', serif;
}


/* PORTFOLIO */


.flex-container {
   display: flex;
   justify-content: center;
}
.cardone {
   text-align: center;
   font-family: 'Nanum Myeongjo', serif;
   font-family: 'Playfair Display', serif;
}
.card {
   color: #8f8d8d;
   align-items: center;
   font-size: 3vmin;
   width: 12vw;
   padding: 5vmin 0vmin 5vmin 0vmin;
   margin: 5vmin 10vmin 0 10vmin;
   margin-left: 5vmin;
   margin-right: 5vmin;
   background-color: #202020;
   border-radius: 10px;
}
.card img {
   width: 26vmin;
   height: 38vmin;
   margin-top: -50px;
   cursor: pointer;
   border-radius: inherit;
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


/* CONTACT */


.sub-title {
  font-size: 5vmin;
}
.contact-left {
   color: #ffffff;
   display: column;
   font-family: 'Nanum Myeongjo', serif;
   font-family: 'Playfair Display', serif;

}
.contact-right form{
   width: 70vmin;
}
form input, form textarea {
   width: 70vmin;
   border: 0;
   outline: none;
   background: #262626;
   padding: 3vmin;
   margin: 2vmin 0;
   color: #ffffff;
   font-size: 2vmin;
   border-radius: 6px;
}
button {
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: 'Nanum Myeongjo', serif;
  font-family: 'Playfair Display', serif;
  font-size: 2.5vmin;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: rgb(249,250,251);
}

.button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button:focus-visible {
  box-shadow: none;
}